## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [5]:
sample_list_1 = random.sample(range(101), 80)
print(sample_list_1)

[46, 72, 85, 82, 23, 41, 70, 89, 5, 48, 79, 42, 50, 49, 9, 97, 14, 54, 39, 25, 43, 53, 63, 100, 0, 40, 77, 32, 27, 91, 74, 31, 56, 11, 47, 64, 99, 81, 95, 96, 62, 38, 10, 86, 75, 61, 3, 6, 60, 98, 94, 20, 17, 44, 8, 29, 30, 83, 34, 37, 92, 51, 16, 19, 15, 52, 66, 21, 65, 4, 87, 76, 24, 58, 68, 69, 88, 13, 71, 84]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [8]:
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [11]:
import random

sample_list_2 = []

for x in range(80):
    sample_list_2.append(random.randint(0, 100))
    
print (sample_list_2)

[24, 40, 28, 93, 85, 39, 65, 45, 54, 16, 90, 85, 28, 85, 38, 76, 83, 100, 2, 97, 88, 42, 54, 77, 71, 29, 17, 72, 55, 18, 90, 51, 66, 32, 32, 28, 97, 39, 76, 3, 12, 37, 31, 82, 44, 62, 69, 49, 96, 62, 6, 39, 76, 26, 17, 51, 68, 36, 98, 27, 85, 91, 0, 86, 97, 78, 59, 47, 20, 15, 34, 53, 50, 20, 63, 73, 94, 100, 1, 6]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [12]:
set2 = set(sample_list_2)
print(len(set2))

60

In [28]:
print(set2)

{0, 1, 2, 3, 6, 12, 15, 16, 17, 18, 20, 24, 26, 27, 28, 29, 31, 32, 34, 36, 37, 38, 39, 40, 42, 44, 45, 47, 49, 50, 51, 53, 54, 55, 59, 62, 63, 65, 66, 68, 69, 71, 72, 73, 76, 77, 78, 82, 83, 85, 86, 88, 90, 91, 93, 94, 96, 97, 98, 100}

In [29]:
print(set1)

{4, 5, 6, 8, 10, 13, 14, 15, 16, 17, 20, 23, 24, 25, 27, 30, 32, 34, 37, 38, 40, 42, 43, 44, 46, 47, 48, 50, 52, 53, 54, 56, 58, 60, 62, 63, 64, 65, 66, 68, 70, 72, 74, 75, 76, 77, 82, 83, 84, 85, 86, 87, 88, 92, 94, 95, 96, 97, 98, 100}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [15]:
set3 = set1 - set2
print(set3)

{4, 5, 8, 9, 10, 11, 13, 14, 19, 21, 23, 25, 30, 41, 43, 46, 48, 52, 56, 58, 60, 61, 64, 70, 74, 75, 79, 81, 84, 87, 89, 92, 95, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [16]:
set4 = set2 - set1
print(set4)

{1, 2, 36, 90, 73, 12, 45, 78, 18, 55, 26, 59, 28, 93}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [17]:
set5 = set1 & set2
print(set5)

{0, 3, 6, 15, 16, 17, 20, 24, 27, 29, 31, 32, 34, 37, 38, 39, 40, 42, 44, 47, 49, 50, 51, 53, 54, 62, 63, 65, 66, 68, 69, 71, 72, 76, 77, 82, 83, 85, 86, 88, 91, 94, 96, 97, 98, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [30]:
set1 = {4, 5, 6, 8, 10, 13, 14, 15, 16, 17, 20, 23, 24, 25, 27, 30, 32, 34, 37, 38, 40, 42, 43, 44, 46 , 47, 48, 50, 52, 53, 54, 56, 58, 60, 62, 63, 64, 65, 66, 68, 70, 72, 74, 75, 76, 77, 82, 83, 84, 85 , 86, 87, 88, 92, 94, 95, 96, 97, 98, 100}  # Inserta los elementos de set1
set2 = {0, 1, 2, 3, 6, 12, 15, 16, 17, 18, 20, 24, 26, 27, 28, 29, 31, 32, 34, 36, 37, 38, 39, 40, 42 , 44, 45, 47, 49, 50, 51, 53, 54, 55, 59, 62, 63, 65, 66, 68, 69, 71, 72, 73, 76, 77, 78, 82, 83, 85 , 86, 88, 90, 91, 93, 94, 96, 97, 98, 100}  
set3 = {4, 5, 8, 9, 10, 11, 13, 14, 19, 21, 23, 25, 30, 41, 43, 46, 48, 52, 56, 58, 60, 61, 64, 70, 74, 75, 79, 81, 84, 87, 89, 92, 95, 99} 
set4 = {1, 2, 36, 90, 73, 12, 45, 78, 18, 55, 26, 59, 28, 93} 
set5 = {0, 3, 6, 15, 16, 17, 20, 24, 27, 29, 31, 32, 34, 37, 38, 39, 40, 42, 44, 47, 49, 50, 51, 53, 54, 62, 63, 65, 66, 68, 69, 71, 72, 76, 77, 82, 83, 85, 86, 88, 91, 94, 96, 97, 98, 100}


relationship = set1.union(set2).union(set3).union(set4).union(set5)

print(relationship)

{0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Create an empty set called `set6`.

In [18]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [19]:
set6.update(set3)
set6.update(set5)

#### Check if `set1` and `set6` are equal.

In [20]:
iguales = set1 == set6
print(iguales)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [21]:
contiene_set2 = set2.issubset(set1)
print("¿set2 está contenido en set1?", contiene_set2)

contiene_set3 = set3.issubset(set1)
print("¿set3 está contenido en set1?", contiene_set3)

¿set2 está contenido en set1? False
¿set3 está contenido en set1? True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [23]:
set6.union(set3, set4, set5)
set6.union(set1, set2)

print(set6)

{0, 3, 4, 5, 6, 8, 9, 10, 11, 13, 14, 15, 16, 17, 19, 20, 21, 23, 24, 25, 27, 29, 30, 31, 32, 34, 37, 38, 39, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 58, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 74, 75, 76, 77, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 94, 95, 96, 97, 98, 99, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [25]:
primer_elemento = set1.pop()
primer_elemento

3

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [26]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set1 -= set(list_to_remove)
print(set1)

{4, 5, 6, 8, 10, 13, 14, 15, 16, 17, 20, 23, 24, 25, 27, 30, 32, 34, 37, 38, 40, 42, 43, 44, 46, 47, 48, 50, 52, 53, 54, 56, 58, 60, 62, 63, 64, 65, 66, 68, 70, 72, 74, 75, 76, 77, 82, 83, 84, 85, 86, 87, 88, 92, 94, 95, 96, 97, 98, 100}